
.dropdown-body-language.open,
.dropdown-profile-body.open,
.dropdown-body_bell.open,
.dropdown-body.open {
    display: block;
}

.icon {
    font-size: 13px;
    color: #91A5BE;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
    margin-left: 5px;
}

.icon.open {
    transform: rotate(90deg);
}
